<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Jamal AWAD</h3>
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= navbar_helper('nav-link', 'span') %>
    </nav>
  </div>
</header>
