<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">The best way to learn how to code is definitely not reading tutorial books. What you should do first is to skim through video tutorials. You just need to learn the logic first. And then to really learn, the best way is by actually just getting down to do it. It's very daunting in the beginning, and trust me, you WILL struggle. However, at the end of it, you will come out a coder.</p>
    <p>
      <% if logged_in?(:site_admin) %>
      <%= link_to "Create new Portfolio Item", new_portfolio_path, class: "btn btn-warning" %>
      <% end %>
      <%= link_to "Find Out More About Me", about_me_path, class: "btn btn-primary my-2" %>
      <%= link_to "My Blog", blogs_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>