<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  <a href="http://www.jaywad.com" class="text-muted">Jaywad.com </a><%= copyright_generator %>
  </div>
</footer>