<h3>Office Address</h3>

<p>Lebanon, Zahle (Bekaa Governorate)</p>

<h3>Mobile</h3>

<p><%= number_to_phone "9613701879" %></p>

<h3>Email</h3>

<p><a href="mailto:jamalawad26@gmail.com?subject=Portfolio Contact" "Email me">Email me</a></p>