<h1>About Me</h1>
<p>Creative and dedicated developer with over five years of professional experience in large international organizations in senior capacities which I thrived through my commitment to continuously discover, evaluate, and implement new technologies to maximize development efficiency.</p> 

<p>My experience includes strong knowledge of project management, planning and control, database platforms, basic back-end web services development, android mobile applications, data security establishment and client-server networking hands on expertise.</p>
