<h1>Contactpage</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_phone "9613701879" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "2600009000090000" %></p>