<h1>Would you like to work together?</h1>

<hr>
<hr>

<div class="row">
  <div class="col-md-6">

    <h3>Office Address</h3>

    <p>Lebanon, Zahle (Bekaa Governorate)</p>

    <h3>Mobile</h3>

    <p><%= number_to_phone "9613701879" %></p>

    <h3>Email</h3>

    <p><a href="mailto:jamalawad26@gmail.com?subject=Portfolio Contact" "Email me">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3314.592059603934!2d35.874386315357846!3d33.82283903723141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151f348b827b5fc7%3A0x2e03973042363548!2zMzPCsDQ5JzIyLjIiTiAzNcKwNTInMzUuNyJF!5e0!3m2!1sen!2slb!4v1527798782855" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>