<h1><span class="element"></span></h1>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= render "pages/contact_left" %>
    </div>
    <div class="col-md-6" style="padding-top: 100px">
      <%= render "pages/contact_right" %>
    </div>
  </div>
</div>