<div class="album py-5">
  <h1 class="cover-heading">Tech News</h1>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <% @tweets.each do |tweet| %>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow" style="width: 18rem;">          
            <div class="card-body tech-news">
              <p class="card-text">
                <%= twitter_parser tweet %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
